###### Requirements without Version Specifiers ######`
pytest
pytest-cov
codecov
black

### Requirements for documentation ###
Sphinx
recommonmark
sphinx_rtd_theme

###### Requirements with Version Specifiers ######`
